<!DOCTYPE html>
<html>
    <body> 
        <h1>ESPN League Inputs for Analytics</h1>
        <form method="POST">
          <label for="leagueId">ESPN League ID:</label><br>
          <input type="text" id="leagueId" name="leagueId" value="2016015"><br>
          <label for="begYear">First Year:</label><br>
          <input type="number" id="begYear" name="begYear" value="2018"><br>
          <label for="endYear">Last Year:</label><br>
          <input type="number" id="endYear" name="endYear" value="2021"><br>
          <label for="begWeek">First Week:</label><br>
          <input type="number" id="begWeek" name="begWeek" value="1"><br>
          <label for="endWeek">Last Week:</label><br>
          <input type="number" id="endWeek" name="endWeek" value="14"><br><br>
          <input type="submit" value="Submit">
        </form> 
    </body>
    <footer>
        <br>
        <a href="/">
          <button>Return To Home</button>
        </a>
    </footer>
</html>