<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/site.css')}}">
    <head> 
        <h2>Inputs</h2>
    </head>
    <body>
        <form method="POST">
            <div>
                <b>
                <label for="leagueId">ESPN leagueId:</label>
                <input type="text" id="leagueId" name="leagueId" value="2016015"><br>
                <label for="begYear">First Year:</label>
                <input type="number" id="begYear" name="begYear" value="2018"><br>
                <label for="endYear">Last Year:</label>
                <input type="number" id="endYear" name="endYear" value="2021"><br>
                <label for="begWeek">First Week:</label>
                <input type="number" id="begWeek" name="begWeek" value="1"><br>
                <label for="endWeek">Last Week:</label>
                <input type="number" id="endWeek" name="endWeek" value="17">
                </b>
            </div><br>
            <input type="submit" value="Submit"> <br><br>
            <input type="reset" value="Reset">
        </form> 
        <br><br>
            <a href="/help">
                <button>Need help finding your ESPN leagueId?</button>
            </a>
        <br><br>
            <a href="/">
              <button>Home</button>
            </a>
    </body>
</html>