<!DOCTYPE html>
<html> 
    <head>
        <h1>How to find ESPN Fantasy Football leagueId</h1>
    </head>
    <body>
        <text>
            1. Paste into a browser: https://www.espn.com/fantasy/
        </text><br><br>
        <text>
            2. Hover over the user icon and login
        </text><br><br>
        <img src="{{url_for('static', filename='images/espnlogin.jpg')}}" width="260" height="150"><br><br>
        <text>
            3. Click on the team for the league to analyze
        </text><br><br>
        <img src="{{url_for('static', filename='images/espnteams.jpg')}}" width="200" height="100"><br><br>
        <text>
            4. Copy the leagueId from the URL
        </text><br><br>
        <img src="{{url_for('static', filename='images/espnurl.jpg')}}" width="400" height="20"><br>
    </body>
    <footer>
        <br>
        <a href="/">
          <button>Home</button>
        </a>
    </footer>
</html>