html, body, footer {
    height: 90%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: powderblue;
}

html {
    display: table;
    margin: auto;
    text-align: center;
}

h1 {
  color: black;
}

button1,input[type=submit] {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

table {
    width: 100%;
    text-align: center;
    background-color: #ffa07a;
    color: black;
}
