<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/table2.css')}}">
    <head> <br>
        <a href="/">
            <button>Home</button>
        </a>
    </head>
    <body>
        <div class="container">
            <table>
                <tr>
                    <td style ="background-color: #77bfe2;">
                        <h2>{{titles[0]|safe}}</h2>
                        {{tables[0]|safe}}
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td style ="background-color: #77bfe2;">
                        <h2>{{titles[1]|safe}}</h2>
                        {{tables[1]|safe}}
                    </td>
                </tr>
            </table>
        </div>
        <div class="container">
            <table>
                <tr>
                    <td style ="background-color: #77bfe2;">
                        <h2>{{titles[2]|safe}}</h2>
                        {{tables[2]|safe}}
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td style ="background-color: #77bfe2;">
                        <h2>{{titles[3]|safe}}</h2>
                        {{tables[3]|safe}}
                    </td>
                </tr>
            </table>
        </div>
    <br></body> 
</html>