h1, h2 {color: #051947}
h1 {font-size: 50px;}
h2 {font-size: 30px;}

head, body {
    height: 90%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background-color: #77bfe2;
}

html {
    display: table;
    margin: auto;
    text-align: center;
}

button1,input[type=submit] {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    display: inline-block;    
}

input[type=text],input[type=number] {
    width: 21%;
}

label{
    display: inline-block;
    width: 110px;
    text-align: right;
    color: #051947;
}
