html, head, body, footer {
    height: 90%;
    display: table-cell;
    background-color: #77bfe2;
    vertical-align: middle;
}

html {
    display: table;
    margin: auto;
    text-align: center;
}

table {
    width: 100%;
    text-align: center;
    color: black;
    border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 3px;
  text-align: center;
}

h1, h2{color: #051947;}
h1 {font-size: 50px;}
h2 {color: #051947; font-size: 30px;}

button1,input[type=submit] {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    font-weight: bold;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    display: inline-block;    
}

input[type=text],input[type=number] {
    width: 21%;
}

label{
    display: inline-block;
    width: 110px;
    text-align: right;
    color: #051947;
}

.points {
    height: 80%;
    margin: left;
}

.szns {
    height: 80%;
    margin: right;
}

.points th{
    background-color: #d34f4f;
    color: white;
}

.points td{
    background-color: #ffe4e4;
    color: black;
}

.szns th{
    background-color: #630cc0;
    color: white;
}

.szns td{
    background-color: #f6e7ff;
    color: black;
}

.tweeks th{
    background-color: #d56928;
    color: white;
}

.tweeks td{
    background-color: #ffecce;
    color: black;
}

.bweeks th{
    background-color: #107c4b;
    color: white;
}

.bweeks td{
    background-color: #eeffe7;
    color: black;
}